[submodule "lib/glfw-wrapper"]
	path = lib/glfw-wrapper
	url = https://github.com/cpp-wrappers/glfw-wrapper
[submodule "lib/opengl-wrapper"]
	path = lib/opengl-wrapper
	url = https://github.com/cpp-wrappers/opengl-wrapper.git
[submodule "lib/openal-wrapper"]
	path = lib/openal-wrapper
	url = https://github.com/cpp-wrappers/openal-wrapper.git
[submodule "lib/openal-soft"]
	path = lib/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "lib/freetype-wrapper"]
	path = lib/freetype-wrapper
	url = https://github.com/cpp-wrappers/freetype-wrapper.git
[submodule "lib/freetype/git"]
	path = lib/freetype/git
	url = git://git.savannah.gnu.org/freetype/freetype2.git
[submodule "lib/glfw/git"]
	path = lib/glfw/git
	url = https://github.com/glfw/glfw.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/utfcpp"]
	path = lib/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "lib/minimp3"]
	path = lib/minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "lib/lodepng"]
	path = lib/lodepng
	url = https://github.com/lvandeve/lodepng.git
